:root {
    --secondary-font               : 'Raleway', sans-serif;
    --accent-color                 : #2196f3;
    --primary-color                : #212121;
    --secondary-text-color         : #757575;
    --title-text-color             : #ffffff;
    --background-color             : #2f303a;
    --widgets-link-background-color: #f5f4fa;
    --logo-studio                  : #000000;
    --mail-color                   : rgba(255, 255, 255, 0.6);
    --line                         : #ececec;
    --border-projects__content     : #eeeeee;
    --shadow-one                   : rgba(0, 0, 0, 0.12);
    --shadow-two                   : rgba(0, 0, 0, 0.14);
    --shadow-three                 : rgba(0, 0, 0, 0.2);
    --shadow-hero-button           : 0px 4px 4px rgba(0, 0, 0, 0.15);
    --hero-bg                      : #c4c4c4;
    --margin                       : 30px;
    --social-links                 : #afb1b8;
    --social-links-bg-f            : rgba(255, 255, 255, 0.1);
    --box-shadow                   : 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    --box-shadow-pr: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    --portfolio-wigets-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    --gradient-hero             : rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
    --modal-button-border       : rgba(0, 0, 0, 0.1);
    --projects__overlay-bg-color: rgba(33, 150, 243, 0.9);
    --job-img-overlay-bg-color  : rgba(47, 48, 58, 0.8);
    --cubic                     : cubic-bezier(0.4, 0, 0.2, 1);
    --hero-button-hover-color   : #188ce8;
    --form-border-color         : rgba(33, 33, 33, 0.2);
    --textaria-text-color       : rgba(117, 117, 117, 0.5);
    --footer-form__input-color  : rgba(255, 255, 255, 0.3);
}

.visually-hidden {
    position: absolute;
    width   : 1px;
    height  : 1px;
    margin  : -1px;
    padding : 0;
    overflow: hidden;
    border  : 0;
    clip    : rect(0 0 0 0);
}

body {
    font-family: 'Roboto', sans-serif;
    font-style : normal;
    font-weight: 400;
    font-size  : 14px;
    color      : var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top   : 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top   : 0;
    margin-bottom: 0;
    padding-left : 0;
}

img {
    display  : block;
    max-width: 100%;
    height   : auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color          : inherit;
}

.section {
    padding-top   : 60px;
    padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
    .section {
        padding-top   : 94px;
        padding-bottom: 94px;
    }
}

.container {
    margin       : 0 auto;
    padding-left : 15px;
    padding-right: 15px;
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

.logo {
    font-family   : inherit;
    font-style    : inherit;
    font-weight   : 700;
    font-family   : var(--secondary-font);
    font-size     : 24px;
    line-height   : 1.17;
    letter-spacing: 0.03em;
    color         : var(--accent-color);
}

@media screen and (min-width: 1200px) {
    .logo {
        font-size  : 26px;
        line-height: 1.19;
    }
}

@media screen and (max-width: 767px) {
    .logo {
        padding-top   : 16px;
        padding-bottom: 16px;
    }
}

.studio {
    color: var(--logo-studio);
}

.studio-footer {
    font-family   : var(--secondary-font);
    font-weight   : 700;
    font-size     : 26px;
    line-height   : 1.19;
    letter-spacing: 0.03em;
    color         : var(--title-text-color);
}

.modal-btn {
    font-weight     : 700;
    font-size       : 16px;
    line-height     : 1.88;
    display         : block;
    align-items     : center;
    text-align      : center;
    letter-spacing  : 0.06em;
    cursor          : pointer;
    color           : var(--title-text-color);
    background-color: var(--accent-color);
    box-shadow      : var(--shadow-hero-button);
    border-radius   : 4px;
    border          : none;
    transition      : background-color 1000ms var(--cubic), box-shadow 250ms var(--cubic);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--hero-button-hover-color);
    box-shadow      : var(--shadow-hero-button);
}

.social-link-list {
    display: flex;
}

.social-link-list__link {
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : 100%;
    height          : 100%;
    border-radius   : 50%;
    background-color: var(--title-text-color);
    transition      : background-color 250ms var(--cubic);
}

.social-link-list__link:hover,
.social-link-list__link:focus {
    background-color: var(--accent-color);
}

.social-link-list__icon {
    width     : 20px;
    height    : 20px;
    fill      : var(--social-links);
    transition: fill 250ms var(--cubic);
}

.social-link-list__link:hover .social-link-list__icon,
.social-link-list__link:focus .social-link-list__icon {
    fill: var(--title-text-color);
}

.social-link-list__item {
    width : 44px;
    height: 44px;
}

.social-link-list__item:not(:last-child) {
    margin-right: 10px;
}

.backdrop {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100vw;
    height          : 100vh;
    background-color: var(--shadow-three);
    transition      : opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.is-hidden {
    opacity       : 0;
    visibility    : hidden;
    pointer-events: none;
}

.header {
    background-color: var(--title-text-color);
    border-bottom   : 1px solid var(--line);
}

.header-container {
    display    : flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .header-container {
        justify-content: space-between;
    }
}

.header-nav {
    display    : flex;
    align-items: center;
}

.menu {
    display    : flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .menu {
        display: none;
    }
}

.menu-contacts {
    margin-left: auto;
}

@media screen and (min-width: 1200px) {
    .menu-contacts {
        display    : flex;
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    .menu-contacts {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .menu-contacts__mail {
        margin-right: 50px;
    }
}

@media screen and (min-width: 768px) {
    .header__header-nav .header__logo {
        margin-right: 88px;
    }
}

@media screen and (min-width: 1200px) {
    .header__header-nav .header__logo {
        margin-right: 93px;
    }
}

.menu__item:not(:last-child) {
    margin-right: 50px;
}

.menu__link {
    display       : inline-block;
    padding-top   : 32px;
    padding-bottom: 32px;
    font-weight   : 500;
    line-height   : 1.14;
    letter-spacing: 0.02em;
    transition    : color 250ms var(--cubic);
}

.menu-contacts__link {
    display       : inline-block;
    font-weight   : 500;
    font-size     : 12px;
    line-height   : 1.17;
    letter-spacing: 0.02em;
    transition    : color 250ms var(--cubic);
}

@media screen and (min-width: 1200px) {
    .menu-contacts__link {
        font-size     : 14px;
        line-height   : 1.14;
        padding-top   : 32px;
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 1199px) {
    .menu-contacts__mail {
        margin-bottom: 10px;
    }
}

.menu__link {
    position: relative;
}

.menu__link:visited {
    color: var(--primary-color);
}

.menu__link:hover,
.menu__link:focus {
    color: var(--accent-color);
}

.menu__link.menu__link_active-link {
    color: var(--accent-color);
}

.menu__link.menu__link_active-link::after {
    content         : '';
    position        : absolute;
    left            : 0;
    bottom          : -1px;
    display         : block;
    width           : 100%;
    height          : 4px;
    border-radius   : 2px;
    background-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
    .menu__link.menu__link_active-link::after {
        bottom: -1.5px;
    }
}

.menu-contacts__link {
    display    : flex;
    align-items: center;
    color      : var(--secondary-text-color);
}

.menu-contacts__link:hover,
.menu-contacts__link:focus {
    color: var(--accent-color);
}

.menu-contacts__icons {
    fill        : var(--secondary-text-color);
    transition  : fill 250ms var(--cubic);
    margin-right: 10px;
}

.menu-contacts__link:hover .menu-contacts__icons,
.menu-contacts__link:focus .menu-contacts__icons {
    fill: var(--accent-color);
}

.mail {
    width : 14px;
    height: 10px;
}

@media screen and (min-width: 1200px) {
    .mail {
        width : 16px;
        height: 12px;
    }
}

.tel {
    width : 10px;
    height: 14px;
}

@media screen and (min-width: 1200px) {
    .tel {
        width : 10px;
        height: 16px;
    }
}

.hero {
    background-color: var(--hero-bg);
    text-align      : center;
    padding-top     : 118px;
    padding-bottom  : 118px;
}

@media screen and (min-width: 1600px) {
    .hero {
        width: 1600px;
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        padding-top   : 200px;
        padding-bottom: 200px;
    }
}

.hero .hero__modal-btn {
    margin : 0 auto;
    padding: 10px 32px;
}

.hero-container {
    width : 100%;
    margin: 0 auto;
}

@media screen and (min-width: 480px) {
    .hero-container {
        width: 360px;
    }
}

@media screen and (min-width: 1200px) {
    .hero-container {
        width: 696px;
    }
}

.overlay {
    margin-left        : auto;
    margin-right       : auto;
    background-size    : cover;
    background-position: center;
    background-repeat  : no-repeat;
}

@media screen and (max-width: 480px) {
    .overlay {
        background-image: linear-gradient(var(--gradient-hero)), url("../images/hero/hero-mobile.jpg");
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 280px) and (max-width: 480px),
screen and (min-resolution: 192dpi) and (min-width: 280px) and (max-width: 480px),
screen and (min-resolution: 2dppx) and (min-width: 280px) and (max-width: 480px) {
    .overlay {
        background-image: linear-gradient(var(--gradient-hero)), url("../images/hero/hero-mobile@2x.jpg");
    }
}

@media screen and (max-width: 768px) {
    .overlay {
        background-image: linear-gradient(var(--gradient-hero)), url("../images/hero/hero-tablet.jpg");
    }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 768px),
screen and (min-resolution: 192dpi) and (max-width: 768px),
screen and (min-resolution: 2dppx) and (max-width: 768px) {
    .overlay {
        background-image: linear-gradient(var(--gradient-hero)), url("../images/hero/hero-tablet@2x.jpg");
    }
}

@media screen and (min-width: 769px) {
    .overlay {
        background-image: linear-gradient(var(--gradient-hero)), url("../images/hero/Img.jpg");
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 769px),
screen and (min-resolution: 192dpi) and (min-width: 769px),
screen and (min-resolution: 2dppx) and (min-width: 769px) {
    .overlay {
        background-image: linear-gradient(var(--gradient-hero)), url("../images/hero/hero-desktop@2x.jpg");
    }
}

.hero__title {
    font-weight   : 900;
    font-size     : 26px;
    line-height   : 1.62;
    text-transform: uppercase;
    margin-bottom : 30px;
    color         : var(--title-text-color);
}

@media screen and (min-width: 1200px) {
    .hero__title {
        font-weight   : 900;
        font-size     : 44px;
        line-height   : 1.36;
        letter-spacing: 0.06em;
    }
}

@media screen and (min-width: 768px) {
    .advantages {
        display    : flex;
        flex-wrap  : wrap;
        margin-top : -30px;
        margin-left: -30px;
    }
}

@media screen and (min-width: 768px) {
    .advantages__items {
        margin-top : 30px;
        margin-left: 30px;
        flex-basis : calc((100% - 2 * 30px) / 2);
    }
}

@media screen and (min-width: 1200px) {
    .advantages__items {
        flex-basis: calc((100% - 4 * 30px) / 4);
    }
}

@media screen and (max-width: 767px) {
    .advantages__items:not(:first-child) {
        margin-top: 30px;
    }
}

.advantages__title {
    font-weight   : 700;
    line-height   : 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom : 10px;
}

.advantages__cards {
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : 100%;
    height          : 120px;
    background-color: var(--widgets-link-background-color);
    margin-bottom   : var(--margin);
}

.advantages__icons {
    width : 70px;
    height: 70px;
}

.advantages__text {
    line-height   : 1.71;
    letter-spacing: 0.03em;
    color         : var(--secondary-text-color);
}

@media screen and (max-width: 1199px) {
    .our-job {
        display: none;
    }
}

.job-cards {
    display    : flex;
    flex-wrap  : wrap;
    margin-top : -30px;
    margin-left: -30px;
}

.job-cards__item {
    margin-top : 30px;
    margin-left: 30px;
    flex-basis : calc((100% - 3 * 30px) / 3);
}

.our-job_padding {
    padding-top: 0;
}

.main-title {
    font-weight   : 700;
    font-size     : 28px;
    line-height   : 1.17;
    text-align    : center;
    letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
    .main-title {
        font-size: 36px;
    }
}

.main-title_position {
    margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
    .main-title_position {
        margin-bottom: 50px;
    }
}

.job-cards__images {
    position: relative;
}

.job-cards__text {
    position        : absolute;
    bottom          : 0;
    left            : 0;
    width           : 370px;
    height          : 70px;
    padding         : 27px;
    font-weight     : 700;
    line-height     : 1.14;
    text-align      : center;
    letter-spacing  : 0.03em;
    text-transform  : uppercase;
    color           : var(--title-text-color);
    background-color: var(--job-img-overlay-bg-color);
}

.our-team {
    background-color: var(--widgets-link-background-color);
}

@media screen and (min-width: 768px) {
    .our-team-blocks {
        display    : flex;
        flex-wrap  : wrap;
        margin-top : -30px;
        margin-left: -30px;
    }
}

.our-team-blocks__wrapper {
    background: var(--title-text-color);
    box-shadow: var(--box-shadow);
}

@media screen and (min-width: 768px) {
    .our-team-blocks__wrapper {
        margin-top : 30px;
        margin-left: 30px;
        flex-basis : calc((100% - 2 * 30px) / 2);
    }
}

@media screen and (min-width: 1200px) {
    .our-team-blocks__wrapper {
        flex-basis: calc((100% - 4 * 30px) / 4);
    }
}

@media screen and (max-width: 767px) {
    .our-team-blocks__wrapper:not(:first-child) {
        margin-top: 30px;
    }
}

.our-team-blocks__name,
.our-team-blocks__specialty {
    font-weight   : 500;
    font-size     : 16px;
    line-height   : 1.19;
    text-align    : center;
    letter-spacing: 0.03em;
    margin-bottom : 10px;
}

.our-team-blocks__specialty {
    font-weight   : 400;
    letter-spacing: 0.03em;
    margin-bottom : 16px;
    color         : var(--secondary-text-color);
}

.our-team-thumb {
    padding: 30px;
}

.clients-list {
    display    : flex;
    flex-wrap  : wrap;
    margin-top : -30px;
    margin-left: -30px;
}

.clients-list__items {
    margin-top : 30px;
    margin-left: 30px;
    flex-basis : calc((100% - 2 * 30px) / 2);
}

@media screen and (min-width: 768px) {
    .clients-list__items {
        flex-basis: calc((100% - 3 * 30px) / 3);
    }
}

@media screen and (min-width: 1200px) {
    .clients-list__items {
        flex-basis: calc((100% - 6 * 30px) / 6);
    }
}

.clients-list__links {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    height         : 92px;
    border         : 1px solid var(--social-links);
    border-radius  : 4px;
    transition     : border 250ms var(--cubic);
}

.clients-list__links:hover,
.clients-list__links:focus {
    border       : 1px solid var(--accent-color);
    border-radius: 4px;
}

.clients-list__icons {
    fill      : var(--social-links);
    transition: fill 250ms var(--cubic);
}

.clients-list__links:hover .clients-list__icons,
.clients-list__links:focus .clients-list__icons {
    fill: var(--accent-color);
}

.footer {
    padding-top     : 60px;
    padding-bottom  : 60px;
    background-color: var(--background-color);
}

@media screen and (min-width: 1200px) {
    .position {
        display    : flex;
        align-items: baseline;
    }
}

@media screen and (min-width: 768px) {
    .footer_wrapper {
        display: flex;
    }
}

@media screen and (min-width: 1200px) {
    .footer__footer-form {
        margin-left: 93px;
    }
}

.adress-title {
    font-style: inherit;
    margin-top: 20px;
}

.adress-list__link {
    line-height   : 1.71;
    letter-spacing: 0.03em;
    color         : var(--title-text-color);
    transition    : color 250ms var(--cubic);
}

.adress-list__link:hover,
.adress-list__link:focus {
    color: var(--accent-color);
}

.adress-list__item:not(:last-child) {
    margin-bottom: 9px;
}

.adress-list__link_color {
    color: var(--mail-color);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .footer-contacts {
        padding-left: 61px;
    }
}

@media screen and (min-width: 1200px) {
    .footer-contacts {
        margin-right: 83px;
    }
}

@media screen and (max-width: 1199px) {

    .footer-contacts,
    .connect,
    .subscribe {
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .connect {
        margin-left: 190px;
    }
}

@media screen and (max-width: 767px) {
    .connect {
        margin-top: 60px;
    }
}

@media screen and (max-width: 1199px) {
    .subscribe {
        margin-top: 60px;
    }
}

.footer-title {
    font-weight   : 700;
    line-height   : 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color         : var(--title-text-color);
}

.footer-form__footer-title {
    margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
    .footer-form__footer-title {
        padding-top: 12px;
    }
}

.social-link-list {
    justify-content: center;
}

.social-link-list__link {
    background-color: var(--social-links-bg-f);
}

.social-link-list__icon.social-link-list__icon_color {
    fill: var(--title-text-color);
}

.social-link-list__item:not(:last-child) {
    margin-right: 10px;
}

.footer-form-btn {
    display         : flex;
    align-items     : center;
    font-weight     : 700;
    font-size       : 16px;
    line-height     : 1.88;
    letter-spacing  : 0.06em;
    color           : var(--title-text-color);
    box-shadow      : var(--modal-form-btn-shadow);
    background-color: var(--accent-color);
    border-radius   : 4px;
    border          : none;
    cursor          : pointer;
}

.footer-form-btn__icon {
    height     : 24px;
    width      : 24px;
    margin-left: 10px;
}

.footer-form__input {
    display         : block;
    height          : 50px;
    width           : 100%;
    border          : 1px solid var(--footer-form__input-color);
    filter          : var(--shadow-hero-button);
    border-radius   : 4px;
    background-color: transparent;
    color           : var(--title-text-color);
    padding-left    : 16px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-form__input {
        width        : 450px;
        margin       : 0 auto;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1199px) {
    .footer-form__input {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .footer-form__input {
        width: 358px;
    }
}

.footer-form__input::placeholder {
    font-size     : 16px;
    line-height   : 1.25;
    letter-spacing: 0.03em;
    color         : var(--mail-color);
}

@media screen and (min-width: 1200px) {
    .footer-form__wrapper {
        display        : flex;
        justify-content: center;
        align-items    : center;
    }
}

.footer-form__footer-form-btn {
    padding: 10px 29px;
    margin : 0 auto;
}

@media screen and (min-width: 1200px) {
    .footer-form__footer-form-btn {
        margin-left: 12px;
    }
}

.wigets {
    display  : flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 280px) {
    .wigets {
        margin-bottom: 25px;
    }
}

@media screen and (min-width: 768px) {
    .wigets {
        justify-content: center;
        margin-bottom  : 30px;
    }
}

@media screen and (min-width: 1200px) {
    .wigets {
        margin-bottom: 50px;
    }
}

.widgets__item:not(:last-child) {
    margin-right: 8px;
}

@media screen and (max-width: 767px) {
    .widgets__item:not(:last-child) {
        margin-bottom: 15px;
    }
}

.wigets__link {
    font-family     : inherit;
    font-weight     : 500;
    font-size       : 16px;
    line-height     : 1.63;
    text-align      : center;
    letter-spacing  : 0.03em;
    background-color: var(--widgets-link-background-color);
    border-radius   : 4px;
    cursor          : pointer;
    padding-left    : 22px;
    padding-right   : 22px;
    padding-top     : 6px;
    padding-bottom  : 6px;
    border          : none;
    transition      : color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.wigets__link:hover,
.wigets__link:focus {
    background-color: var(--accent-color);
    color           : var(--title-text-color);
    box-shadow      : var(--portfolio-wigets-shadow);
}

@media screen and (min-width: 768px) {
    .projects {
        display    : flex;
        flex-wrap  : wrap;
        margin-top : -30px;
        margin-left: -30px;
    }
}

@media screen and (min-width: 768px) {
    .projects__blocks {
        margin-top : 30px;
        margin-left: 30px;
        flex-basis : calc((100% - 2 * 30px) / 2);
    }
}

@media screen and (min-width: 1200px) {
    .projects__blocks {
        flex-basis: calc((100% - 3 * 30px) / 3);
    }
}

@media screen and (max-width: 767px) {
    .projects__blocks:not(:first-child) {
        margin-top: 30px;
    }
}

.projects__content {
    padding      : 20px 24px;
    background   : var(--title-text-color);
    border-right : 1px solid var(--border-projects__content);
    border-bottom: 1px solid var(--border-projects__content);
    border-left  : 1px solid var(--border-projects__content);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .projects_crutch {
        padding-bottom: 56px;
    }
}

.projects__list {
    font-weight   : 700;
    font-size     : 18px;
    line-height   : 2;
    letter-spacing: 0.06em;
    margin-bottom : 4px;
}

.projects__links,
.projects__links:visited {
    color: var(--primary-color);
}

.projects__title {
    font-size     : 16px;
    line-height   : 1.88;
    letter-spacing: 0.03em;
    color         : var(--secondary-text-color);
}

.projects__overlay {
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    padding         : 63px 24px;
    font-size       : 18px;
    line-height     : 1.56;
    letter-spacing  : 0.03em;
    background-color: var(--projects__overlay-bg-color);
    color           : var(--title-text-color);
    overflow        : auto;
    transform       : translateY(100%);
    transition      : transform 250ms var(--cubic);
}

.projects__links:hover .projects__overlay,
.projects__links:focus .projects__overlay {
    transform: translateY(0%);
}

.projects__overlay-wrapper {
    position: relative;
    overflow: hidden;
}

.projects__links {
    display   : block;
    transition: box-shadow 250ms var(--cubic);
}

.projects__links:hover,
.projects__links:focus {
    box-shadow: var(--box-shadow-pr);
}

.modal {
    position        : absolute;
    top             : 50%;
    left            : 50%;
    width           : 450px;
    height          : 609px;
    background-color: var(--title-text-color);
    box-shadow      : var(--box-shadow);
    border-radius   : 4px;
    transform       : translate(-50%, -50%);
    padding         : 40px;
}

@media screen and (min-width: 1200px) {
    .modal {
        width : 528px;
        height: 581px;
    }
}

@media screen and (max-width: 449px) {
    .modal {
        width: 100%;
    }
}

.close-btn {
    position        : absolute;
    display         : flex;
    justify-content : center;
    align-items     : center;
    top             : 8px;
    right           : 8px;
    width           : 30px;
    height          : 30px;
    border-radius   : 50%;
    border          : 1px solid var(--modal-button-border);
    background-color: transparent;
    cursor          : pointer;
    padding         : 0;
}

.close-btn__icon {
    width     : 11px;
    height    : 11px;
    fill      : var(--logo-studio);
    transition: fill 250ms var(--cubic);
}

.close-btn:focus .close-btn__icon,
.close-btn:hover .close-btn__icon {
    fill: var(--accent-color);
}

.modal-form__modal-btn {
    margin : 0 auto;
    padding: 10px 56px;
}

.modal-form__field {
    display       : block;
    font-size     : 12px;
    line-height   : 1.17;
    letter-spacing: 0.01em;
    color         : var(--secondary-text-color);
    margin-bottom : 10px;
}

.modal-form__head {
    font-weight   : 700;
    font-size     : 20px;
    line-height   : 1.5;
    text-align    : center;
    letter-spacing: 0.03em;
    color         : var(--primary-color);
    margin-bottom : 12px;
}

@media screen and (min-width: 1200px) {
    .modal-form__head {
        line-height: 1.15;
    }
}

.modal-form__input {
    width        : 100%;
    height       : 40px;
    border       : 1px solid var(--form-border-color);
    border-radius: 4px;
    padding-left : 42px;
    transition   : border-color 250ms var(--cubic);
    margin-top   : 4px;
}

.modal-form__input:hover,
.modal-form__input:focus {
    border-color: var(--accent-color);
}

.modal-form__input-wrapper {
    position: relative;
}

.modal-form__icon {
    position  : absolute;
    top       : 50%;
    transform : translateY(-50%);
    left      : 12px;
    height    : 18px;
    width     : 18px;
    fill      : var(--primary-color);
    transition: fill 250ms var(--cubic);
}

.modal-form__icon:hover,
.modal-form__icon:focus {
    fill: var(--accent-color);
}

.modal-form__input:hover+.modal-form__icon,
.modal-form__input:focus+.modal-form__icon {
    fill: var(--accent-color);
}

.modal-form__message {
    width        : 100%;
    height       : 120px;
    margin-top   : 4px;
    border       : 1px solid var(--form-border-color);
    border-radius: 4px;
    padding      : 12px 16px;
    resize       : none;
    transition   : border-color 250ms var(--cubic);
}

.modal-form__message:hover,
.modal-form__message:focus {
    border-color: var(--accent-color);
}

.modal-form__message::placeholder {
    color: var(--textaria-text-color);
}

.modal-form__label-link {
    position      : relative;
    font-size     : 12px;
    line-height   : 1.16;
    letter-spacing: 0.03em;
    color         : var(--accent-color);
}

@media screen and (min-width: 1200px) {
    .modal-form__label-link {
        font-size  : 14px;
        line-height: 1.71;
    }
}

.modal-form__label-link::after {
    content         : '';
    position        : absolute;
    left            : 0;
    bottom          : 1px;
    display         : block;
    width           : 100%;
    height          : 0.1px;
    background-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
    .modal-form__label-link::after {
        bottom: 6px;
    }
}

.modal-form__checkbox-label {
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-size      : 12px;
    line-height    : 1.16;
    letter-spacing : 0.03em;
    color          : var(--secondary-text-color);
    margin-bottom  : 10px;
}

@media screen and (min-width: 312px) {
    .modal-form__checkbox-label {
        margin-bottom: 30px;
    }
}

.modal-form__checkbox-label::before {
    display      : block;
    content      : '';
    width        : 16px;
    height       : 15px;
    border       : 2px solid var(--primary-color);
    border-radius: 2px;
    cursor       : pointer;
    margin-right : 10px;
}

.modal-form__checkbox:checked+.modal-form__checkbox-label::before {
    background-image   : url("../images/check.svg");
    border             : none;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
}

.modal-form__checkbox:hover+.modal-form__checkbox-label::before,
.modal-form__checkbox:focus+.modal-form__checkbox-label::before {
    outline: 2px solid var(--accent-color);
}

@media screen and (min-width: 1200px) {
    .modal-form__checkbox-label {
        font-size  : 14px;
        line-height: 24px;
    }
}

.mobile-menu__container {
    display       : flex;
    flex-direction: column;
    position      : relative;
    padding-top   : 48px;
    padding-left  : 40px;
    height        : 100%;
}

@media screen and (min-width: 768px) {
    .mobile-menu__container {
        width: 480px;
    }
}

.menu-list {
    margin-top: auto;
}

.menu-social-list {
    display       : flex;
    flex-wrap     : wrap;
    margin-top    : 64px;
    padding-bottom: 48px;
}

.menu-social-list__item:not(:first-child) {
    border-left : 1px solid var(--form-border-color);
    padding-left: 10px;
    margin-left : 10px;
}

@media screen and (min-width: 280px) and (max-width: 414px) {
    .menu-social-list__item:nth-child(4) {
        margin-top: 20px;
    }
}

@media screen and (min-width: 280px) and (max-width: 322px) {
    .menu-social-list__item:nth-child(3) {
        margin-top: 20px;
    }
}

.menu-list__item:not(:last-child) {
    margin-bottom: 32px;
}

.burger-btn {
    background-color: transparent;
    border          : none;
    padding         : 0;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
}

.burger-btn:hover .burger-btn__icon,
.burger-btn:focus .burger-btn__icon {
    fill: var(--accent-color);
}

.burger-btn__icon {
    width     : 40px;
    height    : 40px;
    fill      : var(--logo-studio);
    transition: fill 250ms var(--accent-color);
}

.mobile-menu {
    position        : fixed;
    z-index         : 100;
    left            : 0;
    top             : 0;
    width           : 100vw;
    height          : 100vh;
    background-color: var(--title-text-color);
    opacity         : 0;
    visibility      : hidden;
    pointer-events  : none;
}

.mobile-menu.is-open {
    opacity       : 1;
    visibility    : visible;
    pointer-events: auto;
}

.mobile-menu__btn {
    position        : absolute;
    top             : 10px;
    right           : 15px;
    background-color: transparent;
    border          : none;
    padding         : 0;
}

.mobile-menu__btn:hover .mobile-menu__btn-icon,
.mobile-menu__btn:focus .mobile-menu__btn-icon {
    fill: var(--accent-color);
}

.mobile-menu__btn-icon {
    width     : 40px;
    height    : 40px;
    transition: fill 250ms var(--cubic);
}

.nav-list_link,
.menu-list_tel {
    font-weight   : 500;
    font-size     : 40px;
    line-height   : 1.18;
    letter-spacing: 0.02em;
}

.nav-list_link.menu__link_active-link {
    color: var(--accent-color);
}

.nav-list_link {
    transition: color 250ms var(--cubic);
}

.nav-list_link:hover,
.nav-list_link:focus {
    color: Var(--accent-color);
}

.menu-list_tel {
    font-size: 34px;
    color    : var(--accent-color);
}

.menu-list_mail {
    font-weight   : 500;
    font-size     : 24px;
    line-height   : 1.17;
    letter-spacing: 0.02em;
    color         : var(--secondary-text-color);
}

.menu-social-list__link {
    font-weight   : 500;
    font-size     : 18px;
    line-height   : 1.22;
    letter-spacing: 0.02em;
    color         : var(--accent-color);
}

.nav-list-item:not(:first-child) {
    margin-top: 32px;
}