.header {
    background-color: var(--title-text-color);
    border-bottom   : 1px solid var(--line);
}

.header-container {
    display    : flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        justify-content: space-between;
    }
}

.header-nav {
    display    : flex;
    align-items: center;
}

.menu {
    display    : flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.menu-contacts {
    margin-left: auto;

    @media screen and (min-width: 1200px) {
        display    : flex;
        align-items: center;
    }

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.menu-contacts__mail {
    @media screen and (min-width: 1200px) {
        margin-right: 50px;
    }
}

.header__logo {
    .header__header-nav & {
        @media screen and (min-width: 768px) {
            margin-right: 88px;
        }

        @media screen and (min-width: 1200px) {
            margin-right: 93px;
        }
    }
}

.menu__item:not(:last-child) {
    margin-right: 50px;
}

.menu__link {
    display       : inline-block;
    padding-top   : 32px;
    padding-bottom: 32px;
    font-weight   : 500;
    line-height   : 1.14;
    letter-spacing: 0.02em;
    transition    : color 250ms var(--cubic);
}

.menu-contacts__link {
    display       : inline-block;
    font-weight   : 500;
    font-size     : 12px;
    line-height   : 1.17;
    letter-spacing: 0.02em;
    transition    : color 250ms var(--cubic);

    @media screen and (min-width: 1200px) {
        font-size     : 14px;
        line-height   : 1.14;
        padding-top   : 32px;
        padding-bottom: 32px;
    }
}

.menu-contacts__mail {
    @media screen and (max-width: 1199px) {
        margin-bottom: 10px;
    }
}

.menu__link {
    position: relative;

    &:visited {
        color: var(--primary-color);
    }

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.menu__link.menu__link_active-link {
    color: var(--accent-color);

    &::after {
        content: '';

        position        : absolute;
        left            : 0;
        bottom          : -1px;
        display         : block;
        width           : 100%;
        height          : 4px;
        border-radius   : 2px;
        background-color: var(--accent-color);

        @media screen and (min-width: 1200px) {
            bottom: -1.5px;
        }
    }
}

.menu-contacts__link {
    display    : flex;
    align-items: center;

    color: var(--secondary-text-color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.menu-contacts__icons {
    fill      : var(--secondary-text-color);
    transition: fill 250ms var(--cubic);

    margin-right: 10px;

    .menu-contacts__link:hover &,
    .menu-contacts__link:focus & {
        fill: var(--accent-color);
    }
}

.mail {
    width : 14px;
    height: 10px;

    @media screen and (min-width: 1200px) {
        width : 16px;
        height: 12px;
    }
}

.tel {
    width : 10px;
    height: 14px;

    @media screen and (min-width: 1200px) {
        width : 10px;
        height: 16px;
    }
}